
.designDetail{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../img/background1.jpg');
    background-size: cover;

    height: 74vh;
    width: 100vw;
    
}


.DetailHalf {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 50vh;
    width: 80vw;
}

.dataDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
    font-weight: bold;
}
.button {
    height: 3.5em;
    width: 8em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin: 1em;
    border-radius: 0.3em;

    background-color: orangered;
    color: white;

    transition: 0.3s;
}
.button:hover {
    background-color: lightsalmon;
    font-size: larger;
    transition: 0.3s;
}
