.designContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;


    height: 74vh;
    width: 100vw;
}

.designRooster {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 74vh;
    width: 100vw;

}

.designRooster>*{
    flex-basis: 25%;
}

.contact {
    display: flex;
    
    align-items: center;
    justify-content: center;

    border-radius: 1em;
    border-style: solid;
    background-color: antiquewhite;

    cursor: pointer;
}
.new{
    display: flex;
    
    align-items: center;
    justify-content: center;

}