
.designProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 74vh;
  width:100vw;
  background-image: url('../../img/background.jpg');
  background-size: cover;
}
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   height: 74vh;
    width:100vw;
  }
  .buttonDesign {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;

    height: 30vh;
    width:70vw;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 45vh;
    margin-top: 5em;
    background-color: lightskyblue;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    border-radius: 1em;
  }

