
  .container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
   height: 74vh;
    width:100vw;
    background-color: lightgray;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 50vh;
    margin-top: 10em;
    background-color: lightskyblue;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    border-radius: 1em;
  }

